<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144040469779-02ill55vur9n605ag4vrih4jpj282f6n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144040469779-02ill55vur9n605ag4vrih4jpj282f6n</string>
	<key>API_KEY</key>
	<string>AIzaSyBEgEDx9TFFBwBF_OlEjLhDIZg-vaIZa3k</string>
	<key>GCM_SENDER_ID</key>
	<string>144040469779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cc.nimidesign.Academy.iOS</string>
	<key>PROJECT_ID</key>
	<string>apple-developer-academy</string>
	<key>STORAGE_BUCKET</key>
	<string>apple-developer-academy.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144040469779:ios:970e51494536f2a1a3a6e6</string>
	<key>DATABASE_URL</key>
	<string>https://apple-developer-academy-default-rtdb.firebaseio.com</string>
</dict>
</plist>